html, body {
  height: 100%;
  margin: 0;
}

body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 66.66%; /* 3:2 Aspect Ratio */
  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    align-items: center;
  }

  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    opacity: 0.9;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

  img:hover {
    opacity: 1.0;
  }